@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Karla';
  src: url('./fonts/Karla-ExtraLight.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Spectral';
  src: url('./fonts/Spectral-ExtraLight.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

:root {
  --brand-color: rgba(119, 0, 5, 1);
}